body {
  font-family: 'Lato', sans-serif;
  background-color: #FAE9C2;
  color: #361625;
}

.header {
  width: 100%;
  display: flex;
  background-color: #361625;
  color: #FAE9C2;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.my-photo {
  width: 30%;
}

.my-photo img {
  width: 60%;
  border-radius: 50%;
  margin: 20px 20px 20px 70px;
}

.header-content {
  width: 70%;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 120px;
}

section {
  margin: 10px;
  padding: 15px 60px;
}

.section-header {
  cursor: pointer;
}

button {
    background-color: #361625;
    color: #FAE9C2;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    border: transparent;
    margin-top: 5px;
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.1) translateX(20px);
}

.section-experience,
.section-studies,
.section-idiomas {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.experience,
.studies,
.idiomas {
  display: none;
  transition: 0.5s ease;
}

.active {
  display: block;
  padding: 10px;
  transition: display 0.5s ease;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
  margin-right: 60px;
}

footer {
  margin-left: 30px;
}

.logo:hover {
  transform: translateY(-10px);
}

.printer {
  display: block;
  margin: 30px auto;
  transition: all 0.5s ease;
}

.printer:hover {
  background-color: #FAE9C2;
  color: #361625;
  transform: scale(1.5);
  border: solid 3px #361625;
}

.logo {
  width:25px;
  transition: transform 0.5s ease;
}

